
.CallToAction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 35%;
    height: 450px;
    padding: 0;
    margin: 20px 20px 20px 0 ;

    border-radius: 3px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    background: #fff;
    overflow: hidden;
    
    
    .cible svg{
        margin-right: 10px;
    }
    

    .descriptionCard{
        background: linear-gradient(179.18deg, rgba(0, 0, 0, 0.8) 0.7%, rgba(0, 0, 0, 0) 103.62%);
        display: flex;
        flex-direction: row;
        height: 71px;

        .cible{
            padding:20px;
            font-family: "Ruda";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
          
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .date{
            font-family: "Ruda";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;

            padding:30px;
            margin-left: auto;
            
            color: #fff;
          }
    }

    .descriptionCard p{
        margin:0!important;
    }

    .containerRedirection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .redirectionPage{
        background: linear-gradient(179.01deg, rgba(0, 0, 0, 0.65) 1.43%, rgba(0, 0, 0, 0.35) 99.74%);
        .textArea {
            width: 90%;
            text-align: end;

            h1{
                font-family: "Viga";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 43px;
                letter-spacing: 0em;
                color:#fff;
            }
    
            p{
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: right;
                color:#fff;
            } 
        } 
    }

    #button_redirection{
        height: 32px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #BA2F33;
      
        border-radius: 3px;
      
        font-family: "Viga";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        
        color: #fff;

        margin-bottom: 20px;

        text-decoration: none;
    }
      
    #button_redirection:hover{
        background: #fff;
        color: #BA2F33;
        transition: 600ms;
    }
}

@media screen and (max-width: 1296px) {
    .CallToAction{
        width: 90%!important;
        // margin: 20px 0!important;
        border-radius: 3px;
        overflow: hidden;
        height: 600px;
    }
}



