.HomePage {
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  padding-top: 3rem;
  overflow: hidden;
}
.HomePage .goToVideo {
  height: 20px;
  z-index: 2;
  position: absolute;
}
.HomePage .goToVideo #btn-up {
  z-index: 1;
  width: 100%;
  margin-top: -45px;
  background: #1C2645;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: white;
}
.HomePage .goToVideo #btn-up svg {
  margin-bottom: 8px;
  width: 24px;
  font-weight: bold;
}
.HomePage .goToVideo #btn-up:hover {
  text-decoration: none;
}
.HomePage .HomeContainer {
  width: 90%;
  padding-top: 5rem;
}
.HomePage .HomeContainer .topBackgroundContent {
  display: none;
}
.HomePage .HomeContainer #button_redirectionProgramme {
  display: none;
}
.HomePage .HomeContainer .topBackground {
  display: none;
}
.HomePage .HomeContainer .line {
  width: 100%;
}
.HomePage .HomeContainer .row2 {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1296px) {
  .HomePage {
    padding: 0;
  }
  .HomePage .goToVideo {
    margin-top: 2.7rem;
  }
  .HomePage .HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
  }
  .HomePage .HomeContainer .topBackground {
    display: block;
    width: 100vw;
  }
  .HomePage .HomeContainer .topBackgroundContent {
    display: block;
    width: 90%;
    position: absolute;
    top: 5rem;
  }
  .HomePage .HomeContainer .topBackgroundContent .Score .headerMatch {
    font-family: "Ruda";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  .HomePage .HomeContainer .topBackgroundContent .Score .match {
    width: 100%;
  }
  .HomePage .HomeContainer .topBackgroundContent h1 {
    font-family: "Viga";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  .HomePage .HomeContainer #button_redirectionProgramme {
    height: 48px;
    width: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BA2F33;
    border-radius: 3px;
    font-family: "Viga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .HomePage .HomeContainer #button_redirection {
    height: 48px;
    width: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BA2F33;
    border-radius: 3px;
    font-family: "Viga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .row2 {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    align-items: center;
  }

  .CallToAction {
    margin: 0;
  }
}

/*# sourceMappingURL=HomePage.css.map */
