.MatchScores {
  padding-top: 3rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  height: 150vh;
}
.MatchScores #title {
  align-items: flex-start;
}
.MatchScores .bandeauProgramme {
  position: fixed;
  top: 2.9rem;
  right: 0;
  height: 100vh;
  z-index: 4;
}
.MatchScores .info {
  text-align: center;
}
.MatchScores .info h3 {
  font-family: "Ruda";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 10px;
}
.MatchScores .info p {
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #AAAEBB;
}
.MatchScores .info .score {
  width: 100px;
}
.MatchScores .info .score h3 {
  font-weight: 100;
}

.right {
  background: #1C2645;
  flex: 0 1 35%;
  width: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 2.9rem;
  right: -740px;
  z-index: 4;
}
.right .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 90%;
  margin: 20px 0;
}
.right .container h1 {
  text-align: left;
  color: white;
  font-family: "Viga";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
}
.right .containerProgram {
  align-self: flex-end;
  margin: 30px 60px;
}
.right .containerProgram a {
  padding: 20px 30px;
  font-family: "Viga";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #BA2F33;
  border-color: #2B3968;
  text-decoration: none;
}
.right .containerProgram a:hover {
  background-color: #1C2645;
  border-color: #1C2645;
}

.BandeauIsVisible {
  right: 0;
  transition: 600ms ease;
}

.fond-logo {
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 1;
  filter: contrast(250%) saturate(0.8);
  opacity: 0.8;
  width: 40%;
}

#imgFondLogo {
  height: 80%;
}

.headerMatch {
  align-self: flex-start;
  margin: 0;
  color: #FFFFFF;
}
.headerMatch h2 {
  font-family: "Ruda";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.headerMatch p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
}

.SeniorTeam .nameTeam1 {
  width: 80px;
}

.matchFutur, .matchPasse1, .matchPasse2 {
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

#logoEquipe {
  width: 70px;
}

.team1 {
  position: relative;
  margin-left: 0;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.team1, .team2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}

@media screen and (max-width: 1296px) {
  .right {
    display: none;
  }

  .bandeauProgramme {
    display: none;
  }
}
.ScoreIsVisible .bandeauProgramme {
  right: 739px;
  transition: 600ms ease;
}
.ScoreIsVisible .right {
  right: 0;
  transition: 600ms ease;
}

/*# sourceMappingURL=MatchScores.css.map */
