.ScoopHomePage{
    background: linear-gradient(92.86deg, #BA2F33 56.67%, #2B3968 89.68%);
    border-radius: 3px;
    margin: 20px 0;
    width: 100%;
    height: 364px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
    .background_shade_overlay{
        position: relative;
        .overlay{
            width: 2000px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            height: 70px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0.7%, rgba(0, 0, 0, 0) 103.63%);
            .categoryActu{
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .circle_category{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #BA2F33;
                    border: 2px solid #FFFFFF;
                    z-index: 1;
                    margin-right: 11px;
                    
                }
                .content_category{
                    p{
                        font-family: "Ruda";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #fff;
                    }
                }
            }
        }
    }

    .backgroundFilter{
        width: 100%;             
        background: linear-gradient(273.4deg, rgba(0, 0, 0, 0.69) 14.35%, rgba(0, 0, 0, 0) 129.39%);
        display: flex;
        .textArea{
            padding: 50px 40px;
            width: 70%;
            position: relative;
            h1{
                font-family: "Viga";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 43px;
                letter-spacing: 0em;
                color:#fff;
                margin-bottom: 0;
            }
    
            p{
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: right;
                color:#fff;
            } 

            .title_article{
                h1{
                    font-family: "Ruda";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 29px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin: 0;
                }
            }
            
            .content_article{     
                p{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    margin: 0;
                    font-family: "Roboto";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #fff;
                }
            }   
            
        }

        .imageArea{
            display: flex;
            justify-content: flex-end;
            
        }

    }

}

@media screen and (max-width: 1296px) {
    .ScoopHomePageMobile{
        width: 90%!important;
        margin: 20px 0!important;
        border-radius: 3px;
        overflow: hidden;
        display:flex!important;
        flex-direction: column;
        height: 600px;

        .redirectionPage{
            margin-top: auto;
        }
    }

    .ScoopHomePage{
        display: none;
    }

    .ScoopHomePageMobile{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 35%;
    height: 450px;
    padding: 0;
    margin: 20px 20px 20px 0 ;

    border-radius: 3px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    background: #fff;
    overflow: hidden;
    
    
    .cible svg{
        margin-right: 10px;
    }
    

    .descriptionCard{
        background: linear-gradient(179.18deg, rgba(0, 0, 0, 0.8) 0.7%, rgba(0, 0, 0, 0) 103.62%);
        display: flex;
        flex-direction: row;
        height: 71px;

        .cible{
            padding:20px 0 20px 20px;
            font-family: "Ruda";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
            width: 150px;
          
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .date{
            font-family: "Ruda";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;

            display: flex;
            align-items: center;

            padding:20px 20px 20px 00px;
            margin-left: auto;
            
            color: #fff;
            h2{
                text-align: right;
            }
          }
    }

    .descriptionCard p{
        margin:0!important;
    }

    .containerRedirection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .redirectionPage{
        background: linear-gradient(179.01deg, rgba(0, 0, 0, 0.65) 1.43%, rgba(0, 0, 0, 0.35) 99.74%);
        .textArea {
            width: 90%;
            text-align: end;

            h1{
                font-family: "Viga";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 43px;
                letter-spacing: 0em;
                color:#fff;
            }
    
            p{
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: right;
                color:#fff;
            } 
        } 
    }

    #button_redirection{
        height: 32px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #BA2F33;
      
        border-radius: 3px;
      
        font-family: "Viga";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        
        color: #fff;

        margin-bottom: 20px;

        text-decoration: none;
    }
      
    #button_redirection:hover{
        background: #fff;
        color: #BA2F33;
        transition: 600ms;
    }
}
}